div.disabled div a {
  cursor: not-allowed;
  pointer-events: all !important;
}

.toast-top-left {
  top: 58px !important;
}

.page-container {
  min-height: 0;
}

.invalid-feedback {
  display: none;
}

.deleteLink {
  all: unset;
  color: #007bff;
  cursor: pointer;
}
